workflows/AI Test Workflow v2.json
{
  "name": "AI Test Workflow v2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c26e6e5d-ce34-4c1d-aaa4-6df1b60c9501",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "947735d5-8c45-44aa-b375-f6a185d7d077",
              "name": "job_description",
              "value": "Senior Operations Analyst  Requirements: - SQL - Advanced Excel - Power BI - Stakeholder management - SaaS experience preferred  This is a fully remote role supporting global operations.",
              "type": "string"
            },
            {
              "id": "20be111e-d624-4d13-a3c7-927c3bcd91b5",
              "name": "candidate_profile",
              "value": "Andrew Murray  Operations and Project professional with SaaS experience.  Experience: - Project Management - Operations - Customer Success - SaaS  Technical Skills: - SQL - Excel - Power BI - Salesforce - HubSpot - Zendesk - Jira - Asana - Smartsheet  Strengths: - Stakeholder Management - Process Improvement - Project Coordination - Remote Collaboration  Preferred Roles: - Operations Analyst - Project Manager - Customer Success Manager - Implementation Manager  Looking for remote opportunities.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "3de767f4-9871-4e0c-a256-642754991fca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"qwen2.5-14b-instruct-1m\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert recruitment assistant. Your response MUST consist of exactly one valid JSON object and nothing else. Never write explanations, markdown, code fences, or introductory text. If you cannot comply, return a JSON object with an error field.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Compare this candidate profile against the job description.\\n\\nCandidate Profile:\\nAndrew Murray  Operations and Project professional with SaaS experience.  Experience: - Project Management - Operations - Customer Success - SaaS  Technical Skills: - SQL - Excel - Power BI - Salesforce - HubSpot - Zendesk - Jira - Asana - Smartsheet  Strengths: - Stakeholder Management - Process Improvement - Project Coordination - Remote Collaboration  Preferred Roles: - Operations Analyst - Project Manager - Customer Success Manager - Implementation Manager  Looking for remote opportunities.\\n\\nJob Description:\\nSenior Operations Analyst  Requirements: - SQL - Advanced Excel - Power BI - Stakeholder management - SaaS experience preferred  This is a fully remote role supporting global operations.\\n\\nReturn exactly this JSON structure:\\n{\\n\\\"job_title\\\":\\\"string\\\",\\n\\\"overall_score\\\":0,\\n\\\"decision\\\":\\\"Apply|Maybe|Skip\\\",\\n\\\"strengths\\\":[],\\n\\\"missing_skills\\\":[],\\n\\\"summary\\\":\\\"string\\\"\\n}\"\n    }\n  ],\n  \"temperature\": 0.2\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "aaba171b-46d0-4f3c-ae8b-44665f13c0d4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const content = $json.choices[0].message.content;\n\ntry {\n  return [\n    {\n      json: JSON.parse(content)\n    }\n  ];\n} catch (error) {\n  throw new Error(`Failed to parse AI JSON: ${error.message}\\n\\nResponse:\\n${content}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "19ef18bc-a1ff-4286-9f1e-2cb4a2e0de5f",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9c5765e3-d357-4078-861b-0b34a8bec793",
  "meta": {
    "instanceId": "eb7caf52db8afb10139283a7edf3c49c1ed6e71d662e15eb469eeca6cb765fd2"
  },
  "nodeGroups": [],
  "id": "dWjbJuita50m5mrd",
  "tags": []
}