workflows/evaluation_pipeline.json
{
  "name": "evaluation_pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c26e6e5d-ce34-4c1d-aaa4-6df1b60c9501",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "947735d5-8c45-44aa-b375-f6a185d7d077",
              "name": "job_description",
              "value": "Senior Operations Analyst  Requirements: - SQL - Advanced Excel - Power BI - Stakeholder management - SaaS experience preferred  This is a fully remote role supporting global operations.",
              "type": "string"
            },
            {
              "id": "20be111e-d624-4d13-a3c7-927c3bcd91b5",
              "name": "candidate_profile",
              "value": "Andrew Murray  Operations and Project professional with SaaS experience.  Experience: - Project Management - Operations - Customer Success - SaaS  Technical Skills: - SQL - Excel - Power BI - Salesforce - HubSpot - Zendesk - Jira - Asana - Smartsheet  Strengths: - Stakeholder Management - Process Improvement - Project Coordination - Remote Collaboration  Preferred Roles: - Operations Analyst - Project Manager - Customer Success Manager - Implementation Manager  Looking for remote opportunities.",
              "type": "string"
            },
            {
              "id": "1c07ec01-abc5-4b89-9c55-d107b0cf7a0e",
              "name": "job_title",
              "value": "Senior Operations Analyst",
              "type": "string"
            },
            {
              "id": "d2a89e31-d199-48b7-8166-142a7d44ef35",
              "name": "company",
              "value": "Test Company",
              "type": "string"
            },
            {
              "id": "a709db73-4470-4e10-bf75-6277fb01d9b8",
              "name": "location",
              "value": "Remote",
              "type": "string"
            },
            {
              "id": "5e9d593f-07ed-4549-9d07-fa81325be354",
              "name": "employment_type",
              "value": "Remote",
              "type": "string"
            },
            {
              "id": "e999f50e-5ba2-42ca-b0d9-1627e78b8a31",
              "name": "salary",
              "value": "Not specified",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "3de767f4-9871-4e0c-a256-642754991fca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen2.5-14b-instruct-1m\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert recruitment assistant. Your response MUST consist of exactly one valid JSON object and nothing else. Never write explanations, markdown, code fences, or introductory text. Compare the candidate objectively against the job requirements. Base your assessment only on the information provided. Do not assume skills or experience that are not explicitly stated. If you cannot comply, return a JSON object with an error field.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Compare this candidate profile against the job description.\\n\\nCandidate Profile:\\nAndrew Murray  Operations and Project professional with SaaS experience.  Experience: - Project Management - Operations - Customer Success - SaaS  Technical Skills: - SQL - Excel - Power BI - Salesforce - HubSpot - Zendesk - Jira - Asana - Smartsheet  Strengths: - Stakeholder Management - Process Improvement - Project Coordination - Remote Collaboration  Preferred Roles: - Operations Analyst - Project Manager - Customer Success Manager - Implementation Manager  Looking for remote opportunities.\\n\\nJob Title:\\nSenior Operations Analyst\\n\\nCompany:\\nTest Company\\n\\nLocation:\\nRemote\\n\\nEmployment Type:\\nRemote\\n\\nSalary:\\nNot specified\\n\\nJob Description:\\nSenior Operations Analyst  Requirements: - SQL - Advanced Excel - Power BI - Stakeholder management - SaaS experience preferred  This is a fully remote role supporting global operations.\\n\\nReturn exactly this JSON structure:\\n{\\n\\\"job_title\\\":\\\"string\\\",\\n\\\"overall_score\\\":0,\\n\\\"decision\\\":\\\"Apply|Maybe|Skip\\\",\\n\\\"strengths\\\":[],\\n\\\"missing_skills\\\":[],\\n\\\"reasoning\\\":\\\"string\\\",\\n\\\"summary\\\":\\\"string\\\"\\n}\"\n    }\n  ],\n  \"temperature\": 0.2\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "aaba171b-46d0-4f3c-ae8b-44665f13c0d4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Get LM Studio response\nconst raw = $json.choices[0].message.content;\n\n// Parse the JSON string into an object\nlet parsed;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  throw new Error(\"Failed to parse LM Studio JSON: \" + error.message);\n}\n\n// Return clean object for FastAPI\nreturn [\n  {\n    json: parsed\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "19ef18bc-a1ff-4286-9f1e-2cb4a2e0de5f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/save-evaluation",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_id",
              "value": "={{ 1 }}"
            },
            {
              "name": "overall_score",
              "value": "={{ Number($json.overall_score) }}"
            },
            {
              "name": "decision",
              "value": "={{ $json.decision }}"
            },
            {
              "name": "strengths",
              "value": "={{ Array.isArray($json.strengths) ? $json.strengths : (typeof $json.strengths === 'string' && $json.strengths.trim().startsWith('[') ? JSON.parse($json.strengths) : [$json.strengths]) }}"
            },
            {
              "name": "missing_skills",
              "value": "={{ Array.isArray($json.missing_skills) ? $json.missing_skills : (typeof $json.missing_skills === 'string' && $json.missing_skills.trim().startsWith('[') ? JSON.parse($json.missing_skills) : [$json.missing_skills]) }}"
            },
            {
              "name": "reasoning",
              "value": "={{ Array.isArray($json.missing_skills) ? $json.missing_skills : (typeof $json.missing_skills === 'string' && $json.missing_skills.trim().startsWith('[') ? JSON.parse($json.missing_skills) : [$json.missing_skills]) }}"
            },
            {
              "name": "reasoning",
              "value": "={{ $json.reasoning }}"
            },
            {
              "name": "summary",
              "value": "={{ $json.summary }}"
            },
            {
              "name": "evaluated_at",
              "value": "={{ $now }}"
            },
            {
              "name": "run_id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "b921cef6-c3f8-4ee0-afd0-ea0d4aaec62d",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e4cbd63d-82ae-4352-9f7c-9b771c82e9d4",
  "meta": {
    "instanceId": "eb7caf52db8afb10139283a7edf3c49c1ed6e71d662e15eb469eeca6cb765fd2"
  },
  "nodeGroups": [],
  "id": "dWjbJuita50m5mrd",
  "tags": []
}